/bin
*.meta
.vs
.git
.github
obj
.idea/.idea.AdvancedCompany-Neko.dir/.idea/vcs.xml
.idea/.idea.AdvancedCompany-Neko.dir/.idea/indexLayout.xml
.idea/.idea.AdvancedCompany-Neko.dir/.idea/encodings.xml
